# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are Summarized.

Some of the popular languages that Data Scientist use are:
1. Python
2. SQL
3. R Programming

Some of the common libraries used by Data Scientists include:
1. plotly
2. matplotlib
3. ggplot

| |Data Science Tools| |
| --- | --- | --- |
|RStudio|Apache Spark|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by dividing by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

*Objectives:*
- Learn to use Markdown
- Learn to make lists
- Learn how to make tables
- Learn coding calcuations
- Learn how to bold fonts

## Author
Phillip